---
layout: default
blog: true
---

<article class='ten columns offset-by-four' id="article-content">
  <header class="ten columns" id="article-header">
    <h1>{{ page.title }}</h1>
  </header>

  <div class='ten columns gray' id="date-header">
    <p>
      {{ page.date | date: "%b %Y" }}
  {% if page.updated_at %}
      revised {{ page.updated_at }}
  {% endif %}
    </p>

  </div>

  <div class="ten columns" id="article-content">
    {{ content }}
  </div>

  <footer class="ten columns">
    <p>
    <a class="btn btn-mini btn-info" href="https://github.com/mulderp/mulderp.github.com/issues/new" title="Leave feedback using GitHub" target="_blank"><i class="icon-comment icon-white"></i> Leave me feedback</a>
    </p>
    <p id='follow'>
      Follow me on Twitter <a href="http://twitter.com/mulpat" onClick="_gaq.push(['_trackEvent', 'Link', 'Click', 'Post Twitter']);">here.</a>
    </p>
    <p>
      <a href="https://twitter.com/share" class="twitter-share-button" data-via="mulpat">Tweet</a>
       
      <!-- Put this just before the closing body tag -->
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </p>
    <p>
       <!-- Google + -->
       <p><g:plusone size="medium"></g:plusone></p>
        
       <!-- Add this just before the closing body tag of your web page -->	
       <script type="text/javascript">
         (function() {
           var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
           po.src = 'https://apis.google.com/js/plusone.js';
           var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
         })();
       </script>
    </p>
  </footer>
</article>
