---
blog: false
---

<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

        <title>{{ page.title }}</title>

		<meta name="description" content="An overview on Thorax">
		<meta name="author" content="Patrick Mulder">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<link rel="stylesheet" href="/static/css/reveal.min.css">
		<link rel="stylesheet" href="/static/css/reveal/moon.css" id="theme">

		<!-- For syntax highlighting -->
		<link rel="stylesheet" href="/static/css/zenburn.css">

		<!-- If the query includes 'print-pdf', use the PDF print sheet -->
		<script>
			document.write( '<link rel="stylesheet" href="/static/css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

        <div class="slides">
           <section>
             <h1>Thorax.js</h1>
             <h3>A framework to build large scale web applications</h3>
           </section>
   
           <section>
               <section>
               <h2>A supermarket</h2>
               <p>in your pocket</p>
               </section>
       
               <section>
               <img src="/static/images/walmart.png">
               </section>
       
               <section>
               <h2>lots of templates, data and logic</h2>
               </section>
           </section>


				   <section data-background="#007777">
                      <h2>backbone + handlebars</h2>
				  	<p>rather "pure" JavaScript</p>
				  	<p>
				  	</p>

				  	<aside class="notes">
				  	</aside>
				</section>

				<section data-transition="linear" data-background="#007777" data-background-transition="slide">
                  <section>
                  <h2>generator-thorax@0.0.5</h2>

					<pre><code data-trim contenteditable>
$ yo thorax cinema
					</code></pre>
                    </section>

                    <section>
                       <h2>Grunt</h2>
                    </section>

                    <section>
                       <h2>RequireJS</h2>
                    </section>
                       
                       
                    <section>
                       <h2>Mocha / Chai</h2>
                    </section>

                    <section>
                    <h2>jQuery and Zepto</h2>
                    </section>

                    <section>
                      <h2>Less / Sass / Stylus</h2>
                    </section>

                    <section>
                    <h2>precompiles CoffeeScript</h2>
                    </section>

    				<section>
    					<h2>Backbone ecosystem</h2>
    				</section>

                </section>

				<section>
                    <section>
                      <h2>An Example</h2>
                      <p>Munich Cinema</p>
				    </section>

                    <section>
                      <img src="/static/images/muc_cinema.png">
				    </section>
				</section>

				<section>
                    <h2>Layouts</h2>
                    
					<pre><code data-trim contenteditable>
 
 function(LayoutView, rootTemplate, Header, Footer) {
  var RootView = LayoutView.extend({
    name: 'root',
    template: rootTemplate,
    initialize: function() {
      this.header = new Header;
      this.footer = new Footer;
    }
  });
					</code></pre>
				</section>

                <section>
                   <h2>Templates</h2>

					<pre><code data-trim contenteditable>
<header>
  &#123;&#123;view header&#125;&#125;
</header>

<div class="container">
  &#123;&#123;layout-element&#125;&#125;
</div>

<footer>
  &#123;&#123;layout-element&#125;&#125;
</footer></code></pre>
				</section>

				<section>
                    <h2>Helpers</h2>
			<pre><code data-trim contenteditable>
<img src="&#123;&#123;thumb&#125;&#125;">

<hr>
<h3>&#123;&#123;#link "movies/&#123;&#123;id&#125;&#125;" expand-tokens=true&#125;&#125;&#123;&#123;title&#125;&#125;&#123;&#123;/link&#125;&#125;</h3>

<div class="rating">
</div>

<div class="genres">
  &#123;&#123;genres&#125;&#125;
</div>

<div class="caption">
  &#123;&#123;length&#125;&#125; mins
  <div class="rating">
    &#123;&#123;stars rating&#125;&#125;
  </div>
  <div class="details">
    <span>&#123;&#123;director&#125;&#125;</span>
    <span>&#123;&#123;year&#124;&#125;</span>
    <p>&#123;&#123;description&#124;&#125;</p>
  </div>
</div></code></pre>
				</section>
				</section>

				<section>
					<h2>References</h2>
					<ul>
						<li><a href="http://slid.es">Try thorax</a></li>
						<li><a href="https://github.com/hakimel/reveal.js">Book Testing</a></li>
						<li><a href="http://twitter.com/hakimel">Book</a></li>
					</ul>
				</section>

				<section>
					<h1>THE END</h1>
					<h3>BY patrick mulder / @mulpat</h3>
				</section>

				<section>
					<h2>Intergalactic Interconnections</h2>
					<p>
						You can link between slides internally,
						<a href="#/2/3">like this</a>.
					</p>
				</section>



			</div>

		</div>

		<script src="/static/js/head.min.js"></script>
		<script src="/static/js/reveal.min.js"></script>

		<script>

			// Full list of configuration options available here:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
				transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

				// Optional libraries used to extend on reveal.js
				dependencies: [
					{ src: '/static/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: '/static/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: '/static/plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: '/static/plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
					{ src: '/static/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
				]
			});

		</script>

	</body>
</html>
